@font-face {
	font-family: "Spline Sans Mono";
	src: url("../fonts/SplineSansMono-Regular.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "Spline Sans Mono";
	src: url("../fonts/SplineSansMono-Medium.woff2") format("woff2");
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: "Unbounded";
	src: url("../fonts/Unbounded-Medium.woff2") format("woff2");
	font-weight: 500;
	font-style: normal;
}
