@mixin mobile {
	@media (max-width: 1024px) {
		@content;
	}
}

@mixin h2($color: $black, $align: center, $transform: uppercase) {
	color: $color;
	font-size: $fs-hero;
	text-align: $align;
	line-height: 1.4;
	font-weight: 500;
	font-family: $font-title;
	letter-spacing: -0.04em;
	text-transform: $transform;
	@include mobile {
		font-size: $fs-xl-sm;
		letter-spacing: -0.04em;
	}
}

@mixin h3($color: $black, $align: center, $transform: uppercase) {
	color: $color;
	font-size: $fs-md;
	text-align: $align;
	line-height: 1.4;
	font-weight: 400;
	font-family: $font-main;
	letter-spacing: 0.52em;
	text-transform: $transform;
	@include mobile {
		font-size: $fs-sm;
		letter-spacing: 0.18em;
	}
}

@mixin p($color: $grey, $align: center, $transform: uppercase) {
	color: $color;
	font-size: $fs-base;
	text-align: $align;
	font-weight: 400;
	font-family: $font-main;
	text-transform: $transform;
	@include mobile {
		font-size: $fs-sm;
	}
}

@mixin title-faq($color: $black, $align: left) {
	color: $color;
	font-size: $fs-xl-sm;
	text-align: $align;
	line-height: 1.1;
	font-weight: 400;
	font-family: $font-title;
	@include mobile {
		font-size: $fs-base;
	}
}

@mixin title-card($color: $black, $align: left) {
	color: $color;
	font-size: $fs-xl;
	text-align: $align;
	line-height: 0.9;
	font-weight: 500;
	font-family: $font-title;
	@include mobile {
		font-size: $fs-lg;
	}
}

%container {
	max-width: 192rem;
	margin: 0 auto;
	padding-inline: clamp(16px, 2.5vw, 32px);
}

%btn {
	position: relative;
	font-weight: 500;
	font-size: $fs-md;
	line-height: 1.2em;
	padding-bottom: 0.1em;
	text-transform: uppercase;
	@include mobile {
		font-size: $fs-base;
	}
}

%info-bar {
	display: flex;
	justify-content: space-between;
	padding-top: $gap-sm;
	border-top: 1px solid $lightGrey;
	padding-bottom: $gap-xl;
}
