@import "./utils";
@import "./components";
@import "./layout";

body {
	background-color: $white;
	color: $black;
	padding: clamp(16px, 2.5vw, 32px) clamp(16px, 2.5vw, 32px) 0
		clamp(16px, 2.5vw, 32px);
}

.divider {
	height: $gap-4xl;
}
