@import "./utils";
@import "./components";
@import "./layout";

body {
	background-color: #fefefe;
	color: #0a0a0a;
	padding: clamp(16px, 2.5vw, 32px);
}

.container {
	max-width: 192rem;
	margin: 0 auto;
}
