@import "./utils";
@import "./components";
@import "./layout/myprojects/";

html {
	background: $black;
}

body {
	background-color: $white;
	color: $black;
	padding-top: $gap-xl;
	transition: background-color 0.35s ease;
}

body.footer-visible {
	background: $black;
}

main {
	background: $white;
	position: relative;
	z-index: 1;
}

.divider {
	height: $gap-4xl;
}

.footer {
	background: $black;
	position: relative;
	z-index: 2;
}
