.dpo {
	&__wrapper {
		@extend %container;
	}

	&__group {
		display: grid;

		grid-template-columns: 38fr 45fr;

		align-items: start;
		gap: $gap-4xl;
	}

	&__group-text {
		display: flex;
		flex-direction: column;

		width: 100%;
		min-width: 0;
	}

	&__title {
		margin-bottom: $fs-lg;
		@include title-faq();
		&:nth-of-type(n + 2) {
			margin-top: $fs-xl;
		}
	}

	&__text {
		@include p($align: left, $transform: none);
	}

	&__image {
		display: block;

		width: 100%;
		height: auto;

		object-fit: contain;
	}
}

@include mobile {
	.info-bar {
		&__text {
			font-size: $fs-sm;
		}
	}

	.dpo {
		&__group {
			display: flex;
			flex-direction: column;
			align-items: stretch;

			gap: $fs-lg;
		}

		&__group-text {
			width: 100%;
			max-width: none;
		}

		&__title {
			margin-bottom: $fs-base;
		}

		&__text {
			width: 100%;
		}

		&__image {
			display: block;

			width: 100%;
			max-width: 520px;
			height: auto;

			align-self: center;
		}
	}
}
